 @media screen and (max-width:768px){
    .sidebar{
        display: none;
    }
     
     div.main{
       margin-left:0 !important;
}


}

.alert-success, .alert-error{
    margin-top:80px;
}

.navbar{
    position:  fixed;
    width:100%;
}

td{
    height: 53px;
}

p.details{
    font-size: 20px;
    margin-top: 50px;

}

.sidebar a {
    color:white;
}

body{
    overflow-x: hidden;
}
.sidebar p{
    bottom: 0;
    position: absolute;
    color:white;
    text-align: center;
}
.sidebar li{
    text-align: center;
    background-color: #B79043;
    margin:3px 0 3px -40px;
    padding: 5px;
    color:white;
    list-style-type: none;
    width:200px;
   
}

.sidebar ul{
    margin-top: 150px;
}

div.main{
       margin-left: 230px;
}

.sidebar{
    position: fixed;
    height: 700px;
    margin-top:-20px;
    background-color:#800000;
    position: fixed;

}

.intiate label{
//    color:white !important;
}
.intiate button{
    margin-top:20px;
    margin-left: 35%;
}

nav .navbar-right li a, .dropdown ul li a {
    color:black !important;
}
footer{
    padding: 20px 20px 30px 20px;
    width: 100% !important;
    margin: 20px 0 -30px 0 !important;
    background-color:#B79043 !important;
    color:white;
}


.tab-content{
    background-color: #F5F8FA;
}

form{
    padding: 50px;
}
tr:hover{
    color:black;
}

table tr th{
    background-color: #B79043;
}
table th {
    color:white;
}
.navbar-default,.panel .panel-heading{
    background-color:#B79043;  
    /*! position: fixed; */
    /*! width: 100%; */
}


.navbar-brand, .navbar-default li a, .panel .panel-heading{
      color: white !important;
}

body{
    background-color:#fff;
}

.color1{
    background-color: #015A2C; 
    color:white;
}

.color2{
    background-color: #B79043;
    color: white;
}

.color3{
    background-color: #008080;
    color: white;
}


.logoStuff {
    text-align: center;
    margin-bottom:30px;
    margin-top: 40px;
}

.btn-primary{
    background-color:#015A2C;
}

.logo{
    width:100px;
}

.login, .register, .panel .panel-heading{
    text-align: center;

}


.borderless td{
   border:none !important;
    text-align: center;
}

.uncleared{
    background-color: #800000;
    color:white;
    text-align: center;
}


.uncleared i, .cleared i{
    margin: 10px;
    font-size: 80px;
    display: block;
    text-align: center;
}

.cleared{
    background-color: #055C2C;
    color:white;
        text-align: center;
}